<div class="container">
    <div class="topo">
    <div class="poster">
        <img class="poster-img" src="https://source.unsplash.com/random" alt="titulo do filme">
    </div>
    <h3>Titulo do filme</h3>
</div>
    <hr class="risco">

<div class="descri ">
    <h5>Descrição</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit placeat, numquam ex recusandae alias autem quos illum harum cum, laborum quia dolore. Explicabo fugit sunt vero debitis dolorem nam et!</p>

<div class="footer">
    <button routerLink="/home" class="btn btn-danger">Voltar</button>
</div>
</div>
</div>

