.container{
    width: 100vw;
}

.poster-img{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.topo h3{
    color:  #0a316b;
    text-align: center;
    margin-top: 7px;
}

h5{
    color:  #0a316b;
    margin-top: 7px;
}

.dados{
    color:#000000;
}

.descri{
    color:  #0a316b;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.descri p{
    color:#000000;
}

.footer{
    text-align: center;
}

.btn{
    border-radius: 20px;
    background: #FF0000;
    margin-top: 60px;
    transition: ease-in .3s;
}

.btn:hover{
    background: #883838;
}

@media(min-width:500px){
    .container{
        display: flex;
        justify-content: space-between;
    }
    
    .risco{
        display: none;
    }
    
    .poster-img{
        max-width: 400px;
    }
    
    .descri{
        width: 400px;
        margin-top: 150px;
        text-align:left ;
    }
    
    .dados{
        margin-top: 90px;   
    }
    
}