<div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Encontre o filme pelo nome">
            <div class="input-group-append">
              <button class="btn" type="button" >
                  <img src="../../assets/img/search.svg" class="lupa" alt="Buscar">
                 </button>
            </div>
          </div>
          <hr>
        <div class="catalogo">
            <ul>
                <li>Filme 1</li>
            </ul>
          </div>
</div>